@font-face {
    font-family: 'Futura Regular';
    src: url('../fonts/futura_regular.woff2') format('woff2'),
         url('../fonts/futura_regular.woff') format('woff');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('../fonts/futura_bold.woff2') format('woff2'),
         url('../fonts/futura_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    font-style: normal;
    font-weight: normal;
    src: local('didot'), url('../fonts/didot.woff') format('woff');
}

@font-face {
    font-family: 'Didot Bold';
    font-style: bold;
    font-weight: normal;
    src: local('didot_bold'), url('../fonts/didot_bold.woff') format('woff');
}