body.home main {
    #projects {
        display: grid;
        gap: 1.75em;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-top: 1.75em;

        .article-wrapper:hover {
            transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
        }

        article {
            display: flex;

            @media (prefers-reduced-motion: no-preference) {
                opacity: 0;
                animation: fadeInScaleUpAnimation .8s ease forwards;
                transform-origin: center;
            }

            a {
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;
                scale: 1;

                .info {
                    padding-inline: 1.5em;
                    width: 100%;

                    h3 {
                        font-size: 1.875em;
                        font-weight: bold;
                    }

                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    p {
                        margin-block: 1em;
                    }
                }

                img {
                    display: block;
                    border-radius: 16px;
                    height: 100%;
                    width: 100%;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    overflow: hidden;
                }
            }

            &:hover {
                background-color: #212233;
                border: 1px solid #3b3f55;
            }
        }

        .article-wrapper#latest {
            display: flex;
            grid-column: 1 / span 3;

            .info {
                padding-right: 3em;

                .top {
                    margin-bottom: 1em;

                    h6 {
                        font-size: .9em;
                    }
                }
            }

            &:hover {
                .tagContainer span {
                    background-color: #263243;
                }
            }
        }

        .article-wrapper:not(#latest) a {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .info {
                padding: 1em;

                .top {
                    margin-bottom: 1em;

                    h6 {
                        font-size: .8em;
                    }
                }

                h3 {
                    font-size: 1.25rem;
                    font-weight: bold;
                }

                p {
                    margin-block: .5em;
                }
            }

            .tagContainer {
                position: absolute;
                bottom: 15px;
                right: 15px;

                span {
                    font-size: .9em;
                    @include glassBackground();
                }
            }

            img {
                display: block;
                max-width: 100%;
            }
        }
    }

    #support {
        max-width: 900px;
        padding-inline: 4em;
        margin-top: 4em;
        margin-inline: auto;

        @media (prefers-reduced-motion: no-preference) {
            opacity: 0;
            animation: simpleFadeIn .8s ease forwards;
        }

        h3, h6 {
            text-align: center;
        }

        h3 {
            font-size: 2.2em;
            margin-bottom: 1em;
        }

        p {
            text-align: justify;
            font-size: 1.2em;
        }
    }

    // tablet
    @media only screen and (max-width: 850px) and (min-width: 630px) {
        #projects {
            margin-top: 1.5em;
            gap: 1.5em;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            .article-wrapper#latest {
                grid-column: 1 / span 2;

                .info {
                    font-size: .9em;
                    padding-block: 1em;

                    h6 {
                        margin-bottom: .5em;
                    }

                    p {
                        margin-top: .5em;
                    }
                }
            }
        }
    }

    // mobile
    @media only screen and (max-width: 630px) {
        #projects {
            margin-top: 3em;
            gap: 1.25em;
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .article-wrapper#latest {
                grid-column: 1 / span 1;
                margin-bottom: 1.5em;

                a {
                    flex-direction: column-reverse;
            
                    .info {
                        padding: 1em;
                        text-align: center;

                        .top {
                            justify-content: center;
                        }
            
                        h6 {
                            margin-bottom: .5em;
                        }
            
                        p {
                            margin-top: .5em;
                        }
            
                        .tagContainer {
                            justify-content: center;
                        }
                    }
                }
            } 
        }
    }
}


