body.home main {
    section {
        > h3 {
            font-size: 2.2em;
            margin-bottom: 1em;
        }

        > h3,
        > h6 {
            text-align: center;
        }

        > p {
            text-align: justify;
            font-size: 1.2em;
        }

        &:not(#projects) {
            margin-top: 4em;
        }
    }

    #projects,
    #blog {
        #post-grid {
            display: grid;
            grid-template-columns: repeat(
                auto-fill,
                minmax(min(20em, 100%), 1fr)
            );
            grid-template-rows: masonry;
            justify-content: center;
            grid-gap: 1.75em;
            margin-top: 1.75em;
            position: relative;

            > .article-wrapper {
                align-self: start;
            }
        }

        @media (prefers-reduced-motion: no-preference) {
            .article-wrapper:hover {
                transform: perspective(5000px) rotateY(var(--rotateX))
                    rotateX(var(--rotateY));

                // pas d'animation sur Safari parce que bug dégueulasse
                @supports (hanging-punctuation: first) and
                    (-webkit-appearance: none) {
                    transform: unset;
                }
            }
        }

        article {
            display: flex;

            @media (prefers-reduced-motion: no-preference) {
                opacity: 0;
                animation: fadeInScaleUpAnimation 0.8s ease forwards;
                transform-origin: center;
            }

            a {
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;

                .info {
                    padding: 1.5em;
                    width: 100%;

                    h3 {
                        font-size: 1.875em;
                        font-weight: bold;
                    }

                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    p {
                        margin-block: 1em;
                    }
                }

                img {
                    display: block;
                    border-radius: 16px;
                    height: 100%;
                    width: 100%;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    overflow: hidden;
                }
            }

            &:hover,
            &:has(a:focus:not(:active)) {
                background-color: #212233;
                border: 1px solid #3b3f55;
            }
        }

        .article-wrapper#latest {
            display: flex;
            grid-column: 1 / span 3;

            .info {
                padding-right: 3em;

                .top {
                    margin-bottom: 1em;

                    h6 {
                        font-size: 0.9em;
                    }
                }
            }

            &:hover {
                .tagContainer span {
                    background-color: #263243;
                }
            }
        }

        .article-wrapper:not(#latest) a {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .info {
                padding: 1em;

                .top {
                    margin-bottom: 1em;

                    h6 {
                        font-size: 0.8em;
                    }
                }

                h3 {
                    font-size: 1.25rem;
                    font-weight: bold;
                }

                p {
                    margin-block: 0.5em;
                }
            }

            .tagContainer {
                position: absolute;
                bottom: 15px;
                right: 15px;

                span {
                    font-size: 0.9em;
                    @include glassBackground();
                }
            }

            img {
                display: block;
                max-width: 100%;
            }
        }
    }

    #blog {
        > p {
            text-align: center;
        }
    }

    #support {
        max-width: 900px;
        padding-inline: 4em;
        margin-inline: auto;

        @media (prefers-reduced-motion: no-preference) {
            opacity: 0;
            animation: simpleFadeIn 0.8s ease forwards;
        }
    }

    // tablet
    @media only screen and (max-width: 850px) and (min-width: 630px) {
        #projects,
        #blog {
            margin-top: 1.5em;
            gap: 1.5em;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            .article-wrapper#latest {
                grid-column: 1 / span 2;

                .info {
                    font-size: 0.9em;
                    padding-block: 1em;

                    h6 {
                        margin-bottom: 0.5em;
                    }

                    p {
                        margin-top: 0.5em;
                    }
                }
            }
        }
    }

    // mobile
    @media only screen and (max-width: 630px) {
        #projects,
        #blog {
            gap: 1.25em;
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .article-wrapper#latest {
                grid-column: 1 / span 1;
                margin-bottom: 1.5em;

                a {
                    flex-direction: column-reverse;

                    h3 {
                        font-size: 1.7em;
                    }

                    .info {
                        padding: 1em;
                        text-align: center;

                        .top {
                            justify-content: center;
                            margin-bottom: 0;

                            .links {
                                bottom: unset;
                                top: 0.5em;
                                right: 0.5em;
                            }
                        }

                        h6 {
                            margin-bottom: 0.5em;
                        }

                        p {
                            margin-top: 0.5em;
                        }

                        .tagContainer {
                            justify-content: center;
                        }
                    }
                }
            }

            .article-wrapper:not(#latest) a {
                .tagContainer {
                    bottom: 0.5em;
                    right: 0.5em;
                }
            }
        }

        #support {
            padding-inline: 0.25em;
        }
    }
}
