body.youtube-timecode {
    // article {
    //     width: 66%;
    //     margin-inline: auto;
    // }
    
    .inputContainer:has(#urlInput) {
        margin-bottom: 2em;

        #error {
            display: block;
            font-size: 1rem;
            padding-left: .75rem;
            margin-top: .5rem;
            color: red;

            &:empty {
                display: none;
            }
        }
    }

    .inputContainer {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 10px;
            text-align: center;
        }

        input {
            background-color: #111827;
            border-radius: 10px;

            &:focus {
                border-color: $accentColor;
                box-shadow: inset 0 1px 4px #e73c7e9b, 0 0 20px 1px #e6317682;
            }

            &.error {
                border-color: red!important;
                background: red;
                box-shadow: inset 0 1px 14px rgba(255, 60, 60, 0.906), 0 0 30px 1px rgba(244, 31, 31, 0.959);
            }
        }
    }

    .times {
        display: flex;
        gap: 2em;
        justify-content: space-between;

        input {
            width: 100%;
            font-size: 1.3em;
            text-align: center;
        }
    }

    .result {
        margin-top: 2em;
        position: relative;
        display: none;

        #timecodeLink {
            cursor: pointer;
            position: relative;
            overflow-x: hidden;
            justify-content: flex-end;
            white-space: nowrap;
            transition: max-width ease-in .2s, gap ease-in .2s;
            bottom: 1em;
            right: 1em;
            position: absolute;
            margin-bottom: 0;
        
            &.glass {
                padding: .4em .7em;
                border-radius: 10px;
                @include glassBackground();
            }
        
            svg {
                min-width: 24px;
            }
        }

        &.visible {
            display: block;
        }
    }

    @media only screen and (max-width: 850px) and (min-width: 630px) {
        .times {
            gap: 0.5em;
        }
    }

    @media only screen and (max-width: 630px) {
        .times {
            gap: 1em;
        }

        main article {
            padding: 0.85em;

            .result #timecodeLink {
                bottom: 0.5em;
                right: 0.5em;
                font-size: .9em;
                width: 80%;
                text-overflow: ellipsis;
            }
        }
    }
}




 .youtube-player {
     position: relative;
     aspect-ratio: 16 / 9;
     /* Modern browsers https://caniuse.com/mdn-css_properties_aspect-ratio */
     width: 100%;
     overflow: hidden;
     background: #000;
    overflow: hidden;
    border-radius: 13px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 /* Poster image */
 .youtube-player img {
     object-fit: cover;
     display: block;
     left: 0;
     bottom: 0;
     margin: auto;
     max-width: 100%;
     width: 100%;
     position: absolute;
     right: 0;
     top: 0;
     border: none;
     height: auto;
     cursor: pointer;
    -webkit-filter: brightness(75%);
 }

 .youtube-player .videotitle {
    font-weight: bold;
    z-index: 1;
     position: absolute;
     color: white;
     text-shadow: 1px 1px black;
     left: 10px;
     top: 10px;
 }
