body.youtube-timecode {
    input {
        color: black;
    }

    #urlInput {
        width: 100%;
        margin-bottom: 2em;
    }

    .times {
        display: flex;
        gap: 2em;
        justify-content: center;

        input {
            min-width: 4em;
        }
    }

    #result {
        margin-top: 3em;
        text-align: center;
    }
}

@media only screen and (max-width: 850px) and (min-width: 630px) {
    .times {
        gap: .5em;
    }
}

@media only screen and (max-width: 630px) {
    .times {
        flex-direction: column;
    }
}