$screenPadding: 1.5em;
$accentColor: #E73C7E;
$whiteButActuallyBlue: rgba(226, 232, 255, 0.9);
$radius: 20px;
$maxWidth: 1152px;

@mixin pinkLink() {
    color: #e73c7ed1;
    font-weight: bold;

    &:hover {
        color: $accentColor;
    }
}

@mixin glassBackground() {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    backdrop-filter: blur(4em);
    -webkit-backdrop-filter: blur(4em);
    background-color: #19191972;
    border: 1px solid rgba(255, 255, 255, 0.076);
    
    // firefox backdrop-filter fallback because performance is terrible otherwise
    // may they fix it someday 🙏
    @-moz-document url-prefix() {
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;
        background-color: rgba(50, 50, 50, .9);
    }
}

@keyframes particleAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(3);
    }
}

@keyframes fadeInScaleUpAnimation {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes simpleFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #0B0C14;
    color: rgb(243 244 246);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    position: relative;

    ::selection {
        background-color: rgba(231, 60, 126, 0.5);
        opacity: .5;
        color: white
    }

    #bg-glow {
        position: absolute;
        top: -400px;
        width: 80%;
        min-width: 900px;
        margin-inline: auto;
        left: 50%;
        z-index: -1;
        animation-fill-mode: both;
        transform: translateZ(0) translateX(-50%);
        filter: blur(130px);

        @media (prefers-reduced-motion: no-preference) {
            animation: bg-glow-animation .8s ease-in forwards;
        }

        @media (prefers-reduced-motion) {
            opacity: 0.2;
        }
    }

    @keyframes bg-glow-animation {
        from {
            top: -600px;
            opacity: 0;
        }

        to {
            top: -400px;
            opacity: 0.2;
        }
    }

    #vignette {
        position: fixed;
        pointer-events: none;
        height: 100vh;
        top: 0; left: 0; right: 0;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 170vh);
    }

    #bg-grain {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        min-height: 100%;
        opacity: 0.07;
        background-repeat: repeat;
        background-size: 100px;
        pointer-events: none;

        // background: #000;
        // opacity: 1;
    }

    #particle-container {
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        height: 100%;

        .particle {
            position: absolute;
            background-color: $accentColor;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            opacity: 0;
            animation: particleAnimation 0.4s ease-out forwards;
        }
    }

    .nice-hr {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        text-align: center;
        height: 1.5em;
        opacity: .9;

        &:before {
            content: '';
            // use the linear-gradient for the fading effect
            background: linear-gradient(to right, transparent, #818078, transparent);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }
    }
}

*:focus-visible {
    outline: 2px solid #e73c7ed1;
    border-radius: 16px;
}

nav {
    min-height: 9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $maxWidth;
    margin-inline: auto;
    padding-inline: $screenPadding;
    color: #fff;

    #left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 1.5em;
            font-weight: 500;
        }

        h2 {
            font-size: 1.25em;
        }
    }

    #right {
        display: flex;
        align-items: center;
        gap: 1.75em;
        font-size: 1.5em;

        li a {
            opacity: 0.8;
            will-change: transform;

            &:hover, &.active {
                opacity: 1;
            }

            &.active {
                font-weight: 500;
            }
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
        animation: simpleFadeIn .8s ease forwards;
    }
}

article {
    padding: 0.25em;
    background-color: #1b1c2a;
    border: 1px solid #282B3A;
    border-radius: $radius;
    overflow: hidden;
    position: relative;
    width: 100%;
}

h6 {
    font-size: 0.9em;
    color: $accentColor;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.links {
    position: absolute;
    display: flex;
    bottom: 1.5em;
    right: 1.5em;
    gap: .4em;
}

.likeContainer {
    display: flex;
    align-items: center;
    gap: .4em;
    cursor: pointer;
    user-select: none;

    .likeCounter {
        font-weight: bold;
        font-size: .9em;
        transition: color ease-in .2s;
        color: rgba(226, 232, 255, 0.8);
    }

    svg {
        height: 1em;
        transition: rotate ease-in .2s, scale ease .2s, box-shadow ease .2s;
        rotate: 0deg;
        scale: 1;
        overflow: visible;

        path {
            fill: rgba(226, 232, 255, 0.7);
        }
    }

    &.glass {
        @include glassBackground();
        padding: .4em .7em;
        border-radius: 10px;
    }

    &.liked {
        .likeCounter {
            color: rgba(226, 232, 255);
        }

        svg path {
            fill: $accentColor;
        }
    }

    &:not(.liked):hover {
        .likeCounter {
            color: rgba(226, 232, 255);
        }

        svg {
            rotate: 10deg;
            scale: 1.1;

            path {
                fill: rgba(229, 146, 191)
            }
        }
    }
}

.visitContainer {
    display: flex;
    align-items: center;
    gap: .8em;
    cursor: pointer;
    position: relative;
    overflow-x: hidden;
    max-width: 50px;
    justify-content: flex-end;
    white-space: nowrap;
    transition: max-width ease-in .2s, gap ease-in .2s;

    &.glass {
        padding: .4em .7em;
        border-radius: 10px;
        @include glassBackground();
    }

    svg {
        min-width: 24px;
    }

    &:hover {
        max-width: 140px;
        gap: .4em;
    }
}

.glassHover {
    transition: .3s transform, .3s background-color, .3s border;

    @media (prefers-reduced-motion: no-preference) {
        &:hover, &:has(a:focus:not(:active)) {
            transform: scale(1.015);
        }

        // glass reflection
        &:before {
            position: absolute;
            content: "";
            box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.15);
            top: -10%;
            left: -100%;
            transform: rotate(-45deg);
            height: 60rem;
            transition: .4s all;
            z-index: 1;
        }

        &:hover:before, &:has(a:focus):before {
            top: -100%;
            left: 200%;
        }
    }
}

main {
    padding-inline: $screenPadding;
    margin-block: 1em;
    max-width: $maxWidth;
    margin-inline: auto;

    .tagContainer {
        display: flex;
        gap: 0.5em;
        align-items: center;

        span {
            border-radius: 10px;
            background-color: #1f2937;
            padding: 0.4em;
            padding-bottom: .3em;
            line-height: 1.3em;
            padding-top: 0.25em;
            box-sizing: border-box;
            transition: .4s background-color;
        }
    }
}

@import 'home';
@import 'post';
@import 'photography';

.switchToAdmin {
    @include glassBackground();
    padding: .4em .7em;
    border-radius: 10px;
    position: fixed;
    bottom: 3em;
    right: 3em;
}

footer, #support {
    a {
        @include pinkLink();
    }
}

footer {
    max-width: $maxWidth;
    padding-inline: 1.5em;
    margin: 3em auto 0 auto;
    padding-bottom: 2em;
    color: $whiteButActuallyBlue;

    .top {
        text-align: center;
    }

    .nice-hr {
        margin-block: 1em;
    }

    .box {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: .9em;

        > * {
            flex: 1;
        }

        .social {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 1em;

            a {
                display: flex;
                align-items: center;

                svg {
                    width: 1.5em;

                    path {
                        fill: rgba(226, 232, 255, 0.9);
                    }
                }

                &:hover {
                    svg path {
                        fill: rgba(226, 232, 255, 1);
                    }
                }
            }
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
        animation: simpleFadeIn .8s ease forwards;
    }
}




// tablets
@media only screen and (max-width: 850px) and (min-width: 630px) {
    nav {
        font-size: .9em;

        #right {
            gap: 1.15em;
        }
    }


}

// phones
@media only screen and (max-width: 630px) {
    $screenPadding: 1em; 

    body {
        line-height: 1.3;
    }

    nav, main {
        padding: $screenPadding;
    }

    nav {
        flex-direction: column;
        text-align: center;
        font-size: .9em;
    }

    .links {
        bottom: .5em;
        right: .5em;
    }

    footer {
        .box {
            flex-direction: column;
            gap: 1em;
            text-align: center;

            .social {
                margin-top: 5px;;
            }
        }
    }
}

#bg-grain {
    background-image: url("../images/grain.png");
}

@import 'youtube';