body.post main {
    max-width: 85ch;

    @keyframes fadeInScaleUpAnimation {
        from {
            opacity: 0;
            scale: 0.96;
        }

        to {
            opacity: 1;
            scale: 1;
        }
    }

    article {
        padding: 18px;
        padding-bottom: 2.5em;

        @media (prefers-reduced-motion: no-preference) {
            opacity: 0;
            animation: fadeInScaleUpAnimation 0.8s ease forwards;
            transform-origin: bottom;
        }

        .onTopOfTitle,
        header h1,
        header .tagContainer,
        section {
            margin-inline: 30px;
        }

        header {
            text-align: center;

            .top {
                position: relative;

                img {
                    border-radius: 13px;
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    display: block;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }

            .onTopOfTitle {
                margin-top: 30px;

                h6 {
                    display: inline;
                }
            }

            h1 {
                font-weight: bold;
                margin-block: 10px;
                font-size: 2.2em;
            }

            .tagContainer {
                justify-content: center;

                span {
                    outline: 1px solid #293648;
                }
            }
        }

        section {
            margin-top: 30px;
            font-size: 1.3em;

            div {
                text-align: justify;
            }

            a {
                @include pinkLink();
            }

            p {
                margin-bottom: 20px;
            }

            strong {
                font-weight: bold;
            }

            h1 {
                font-size: 1.6em;
            }

            h2 {
                font-size: 1.2em;
            }

            figure.attachment {
                img {
                    border-radius: 20px;
                    margin-block: 20px;
                }

                figcaption {
                    margin-top: 1em;
                    color: grey;
                    font-size: 0.8em;
                    text-align: center;
                    font-style: italic;
                }
            }
        }

        pre,
        code {
            outline: 1px solid #293648;
            border-radius: 10px;
            background-color: #1f2937;
            line-height: 1.3em;
            box-sizing: border-box;
            transition: 0.4s background-color;
            color: inherit;
            text-wrap: wrap;
            word-wrap: break-word;
            line-height: 25px;
            font-size: 0.8em;
        }

        code {
            padding: 5px;
        }

        pre {
            margin-block: 12px;
            padding: 13px;
        }

        .bottomLinks {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5em;
            margin-top: 2em;
        }
    }

    .callToAction {
        color: rgba(226, 232, 255, 0.9);
        font-size: 1.1em;
        background-color: #1f2937;
        border-radius: 20px;
        padding: 1em;
        text-align: center;
        margin-top: 3em;
        margin-inline: auto;
        border: 1px solid rgba(255, 255, 255, 0.076);

        h5 {
            margin-bottom: 0.4em;
            font-size: 1.1em;
            font-weight: bolder;

            span {
                font-style: italic;
            }
        }

        a {
            color: $accentColor;
            font-weight: bold;

            &:hover {
                @include pinkLink();
            }
        }
    }

    @media only screen and (max-width: 630px) {
        article {
            padding: 0.85em;

            header h1 {
                margin-inline: 0;
                font-size: 1.6em;
            }

            section {
                margin-inline: unset;
                font-size: 1.15em;
                padding-bottom: 1em;

                div {
                    text-align: unset;
                }
            }
        }

        .callToAction {
            width: 100%;
        }
    }
}
