@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.switchToAdmin {
    box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    backdrop-filter: blur(4em);
    -webkit-backdrop-filter: blur(4em);
    background-color: #191919a5;
    border: 1px solid rgba(255, 255, 255, 0.076);
    padding: 0.4em 0.7em;
    border-radius: 10px;
    position: fixed;
    bottom: 3em;
    right: 3em;
    color: white;
}

@media (prefers-color-scheme: dark) {
    .trix-button:before {
        filter: invert(0.95);
    }

    trix-toolbar .trix-button {
        color: #9ea2a7;
    }

    trix-toolbar .trix-button.trix-active {
        background-color: #6366f1;
        color: white;
    }

    trix-toolbar .trix-dialog {
        background: #1f2937;
    }

    .trix-content pre {
        color: #333;
    }
}

trix-editor a {
    color: #6875f5;
}

trix-editor.trix-content h1 {
    font-size: 1.7em;
}

trix-editor.trix-content h2 {
    font-size: 1.4em;
}

trix-editor.trix-content h3 {
    font-size: 1.2em;
}

trix-editor.trix-content code {
    background: rgba(249, 250, 251, 0.8);
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 0.25rem;
    color: #111827;
    font-family:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    padding: 0.1em 0.25em;
}
